* {
    font-family: "Press Start 2P", system-ui;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

.container {
    display: grid;
    grid-template-columns: 320px 200px;
    justify-content: center;
    margin-top: 100px;

}

.side-bar {
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
}

#board {
    border: 2px  solid black;
}

.play-score {
    background-color: green;
    font-size: 16px;
    padding: 16px 20px;
    cursor: pointer;
}

